/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}


/* All section  */
#main{
    flex-direction: column;
}

#main .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

.gallary{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* Utility classes */
.h-primary{
    font-size:26px;
}
